---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cards from '../components/Cards.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="p-12">
      <section
        class="w-full h-[calc(100vh_-_121px)] flex sm-flex-row justify-center items-center relative"
      >
        <div class="w-1/2 flex flex-col justify-center align-center text-left p-8">
          <h1>Cultiva tu mundo. <br />Aprende a sembrar vida con nosotros.</h1>

          <p class="text-2xl">
            Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
            template serves as a lightweight, minimally-styled starting point for anyone looking to build
            a personal website, blog, or portfolio with Astro.
            <p class="text-2xl">
              Welcome to the official blog starter template. This template serves as a lightweight
            </p>
          </p><button
            type="button"
            class="w-32 cursor-pointer text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >Descubre más</button
          >
        </div>

        <div class='w-1/2 bg-[url("/guy-gardening.jpg")] bg-cover bg-center h-full'></div>
        <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-none">
          <svg class="relative block w-full h-32" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path
              fill="#ffffff"
              d="M0,160 C120,200 240,120 360,160 C480,200 600,280 720,240 C840,200 960,120 1080,160 C1200,200 1320,280 1440,240 V320 H0 Z"
            ></path>
          </svg>
        </div>
      </section>
    </main>
    <Cards />

    <Footer />
  </body>
</html>
